@model IEnumerable<PriceComparision.Models.Product>

<h2>PRICE COMPARISION SITE</h2>

<form method="GET" asp-controller="Home" asp-action="Search">
	<input type="text" name="phrase" placeholder="enter product name" />
	<input type="submit" value="Search" />
</form>
